html,
body {
    padding: 10px;
    margin: 5px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: #fff;
    color: #000;
}

.flex-container {
    border: 1px solid #fff;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    /* background-color: coral; */
}

.flex-container div {
    background-color: cornflowerblue;
    border-radius: 3px;
    text-align: center;
    list-style: none;
    padding: 10px;
    margin: 10px;
    width: 50px;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: ease 0.5s;
}

.flex-container div:hover {
    background-color: darkgoldenrod;
}

.flex-container .disablediv {
    color: #000;
    background-color: cornsilk;
    border-radius: 3px;
    text-align: center;
    list-style: none;
    padding: 10px;
    margin: 10px;
    width: 50px;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: ease 0.5s;
}

.word {
    color: #000;
    display: flex;
    flex-flow: wrap row;
}

.word div {
    border: 1px solid #000;
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    font-size: 30px;
}

button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    box-shadow: 0px 2px 2px 1px rgba(223, 9, 9, 0.2);
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.btn-outline-warning {
    color: #2ee4cc;
    background-color: transparent;
    background-image: none;
    border-color: #e8f14a;
}

.btn-outline-danger {
    color: #e24d6d;
    background-color: transparent;
    background-image: none;
    border-color: #dc3545;
}